<% content_for(:title, "Edit") %>

<div class="row">
  <div class="small-12 columns">
    <h1>Edit</h1>
    <h2><%= @restaurant.name %></h2>

    <%= render 'form' %>

    <p><%= link_to 'Back', restaurants_path %></p>
  </div>
</div>