<% content_for(:title, "Add Restaurant") %>

<div class="row">
  <div class="small-12 columns">
    <h1>New Restaurant</h1>

    <%= render 'form' %>

    <small><%= link_to 'Back', restaurants_path %></small>
  </div>
</div>