<h1><%= @restaurant.name %></h1>
<p><%= link_to 'Edit', edit_restaurant_path %></p>
<p><%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: {confirm: 'Delete ' + @restaurant.name + '?'} %></p>
<small><%= link_to 'Back', restaurants_path %></small>
